<?xml version="1.0"?>
<configuration>
    <system.web>
      <authentication mode="Forms">
        <forms name="formsauth" loginUrl="login.aspx" protection="All" timeout="60">
        </forms>
      </authentication>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
</configuration>
